* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.content {
  padding: 1rem;
  height: 100vh;
  width: 100vw;
  background-color: white;
  box-shadow: 0px 5.855260372161865px 23.42104148864746px 0px
    rgba(15, 28, 49, 0.08);
  border-radius: 1rem;
}
